[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
twine = "*"

[packages]
pandas = "*"
scikit-learn = "*"
twine = "*"
ipython = "*"

[requires]
python_version = "3.7"
